<h4><span id="filename"></span></h4>
<input type="hidden" id="file-guid"/>
<div class="row">
    <label for="description" class="col-md-2">Description</label>
    <textarea name="description" class="col-md-3" id="file-description"></textarea>
    <div class="col-md-7">
        <span class="btn btn-default btn-sm fileinput-button">
            <i class="glyphicon glyphicon-file"></i>
            <span>Browse</span>
            <input type="file" name="file" data-url="/PatientDashboard/UploadDocument" id="browse-btn">
        </span>
        <button class="btn btn-default btn-sm" id="upload-btn" data-loading-text="Uploading..." style="display: none;"><span class="glyphicon glyphicon-upload"></span>&nbsp;Upload</button>
        <span id="error-field" class="field-validation-error"></span>
    </div>
</div>