<div id="overlay" class="overlay"></div>

<div class="lightbox" id="lightbox">
    <div class="lightbox-container">
    </div>
    
    <a href="#" class="btn btn-default btn-sm accept-popup">Accept</a>
    <a href="#" class="btn btn-danger btn-sm close-popup cancel-popup">Close</a>
</div>