@using MyVanity.Web.Helpers.MvcHelpers
@model MyVanity.Model.ProfileModels.Profile.Impl.ProfileModel

@Html.LabelFor(model => model.PicturePath, new { @class = "control-label col-md-2" })
@Html.HiddenFor(model => model.PicturePath, new { id = "picture-path" })

<div class="col-md-10">
    @Html.ImageFor(model => model.PicturePath, "imgContainer")
</div>
<div class="col-md-10 col-md-offset-2" style="margin-top: 5px;">
    <span class="btn btn-info btn-xs fileinput-button">
        <i class="glyphicon glyphicon-camera"></i>
        <span>Browse</span>
        <input type="file" name="file" data-url="/FileManaging/UploadImage" id="fileupload">
    </span>
    <span id="file-upload-error" class="text-danger"></span>
</div>
