@model MyVanity.Model.PatientModels.Impl.PatientEditModel

@using (Html.BeginForm("PatientProfile", "PatientDashboard", FormMethod.Post))
{
    @Html.EditorForModel()
   
    <div class="col-md-2">
        <input type="submit" value="Save" style="float: right;" class="btn btn-submit" />
    </div>  

}


