@model MyVanity.Model.ProcedureTypeModels.Impl.ProcedureTypeEditModel

@{
    ViewBag.Title = "Create Procedure Type";
    Layout = "~/Views/Shared/_Layout.ManagementDashboard.cshtml";
}

<h4>@ViewBag.Title</h4>
<hr/>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
}
