@model MyVanity.Model.ProcedureTypeModels.Impl.ProcedureTypeIndexModel

@{
    ViewBag.Title = "CategoriesList";
}

<p>
    <a href="@Url.Action("Create")" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span> Add Type
    </a>
</p>


@Html.DisplayFor(model => model.ProcedureTypes, "ProcedureTypes")

@section scripts {
    <script type="text/javascript">
        $("#procedure-types-nav-item").addClass("active");
        $("#procedures-management-nav-item").addClass("active");
    </script>
}