@model IEnumerable<MyVanity.Model.ConsentFormModels.Impl.ConsentFormEditModel>

@if (!Model.Any())
{
    return;
}

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a href="@Url.Action("DownloadFile", "FileManaging", new { path = item.FileGuid })" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-download"></span>&nbsp;Download</a>
                    @Html.ActionLink("Delete", "Delete", "ConsentForm", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </table>
</div>

