@model MyVanity.Model.ProcedureModels.Impl.ProcedureIndexModel

@{
    ViewBag.Title = "Index";
}

<p>
    <a href="@Url.Action("Create")" class="btn btn-default">
        <span class="glyphicon glyphicon-paperclip"></span> New Procedure
    </a>
</p>


@Html.DisplayFor(model => model.Procedures, "ProcedureList")

@section scripts {
    <script type="text/javascript">
        $("#procedures-nav-item").addClass("active");
        $("#procedures-management-nav-item").addClass("active");
    </script>
}