@model MyVanity.Model.ConsentFormModels.Impl.ConsentFormIndexModel

<p>
    <a href="@Url.Action("Create")" class="btn btn-default">
        <span class="glyphicon glyphicon-list-alt"></span> New Consent
    </a>
</p>
           
@Html.DisplayFor(model => model.Consents, "ConsentsList")

@section scripts {
     <script>
        $("#resources-management-nav-item").addClass("active");
        $("#consent-forms").addClass("active");
    </script>   
}