@using MyVanity.Services.Membership
@model MyVanity.Model.PatientModels.Impl.PatientIndexModel

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole(ApplicationRole.SurgicalCoordinator.ToString()))
{
    <p>
        <a href="@Url.Action("Create")" class="btn btn-default">
            <span class="glyphicon glyphicon-heart"></span> New Patient
        </a>
    </p>
}

@Html.EditorFor(model => model.Patients, "PatientList")

@section scripts {
    @Scripts.Render("~/Content/system-js/patient-index-module.js")

    <script type="text/javascript">
        $(function() {
            $("#patient-nav-item").addClass("active");

            var indexModule = new PatientIndexModule({
                assignBtn: ".assign-btn"
            });
            indexModule.Init();
        });
    </script>
}
