@model MyVanity.Model.PatientProcedureModels.Impl.PatientProcedureEditModel

@{
    ViewBag.Title = "Create";
}

<h4>Schedule New Procedure</h4>
<hr/>

@using (Html.BeginForm())
{
    @Html.EditorForModel()   
}

@section scripts {
    @Scripts.Render("~/bundles/js/edit-patient-procedure")

    <script type="text/javascript">
        $(function() {
            $(".datetime").datepicker("option", "minDate", 0);

            var module = new UserProcedureModule(
                {
                    searchButtonId: "search-patients",
                    inputTextId: "patient-name",
                    fileNameId: "file-search-name",
                    searchFileButtonId: "file-search-id"
                });
            module.Init();

            var vm = module.ViewModel;
            ko.applyBindings(vm);
        })
    </script>
}