@using MyVanity.Services.Membership
@model MyVanity.Model.PatientProcedureModels.Impl.PatientProcedureIndexModel

@{
    ViewBag.Title = "Index";
}

@if (User.IsInRole(ApplicationRole.SurgicalCoordinator.ToString()))
{
    <p>
        <a href="@Url.Action("Create")" class="btn btn-default">
            <span class="glyphicon glyphicon-calendar"></span> Schedule
        </a>
    </p>

}

    @Html.DisplayFor(model => model.Procedures, "PatientProcedureList")

    @section scripts {
        <script type="text/javascript">
            $(function() {
                $("#user-procedure-nav-item").addClass("active");
            });
        </script>
    }










