@model MyVanity.Model.MessageModels.MessageIndexModel

<p>
    <a href="@Url.Action("Compose")" class="btn btn-default">
        <span class="glyphicon glyphicon-envelope"></span> Compose New
    </a>
</p>


@Html.DisplayFor(model => model.Messages, "MessageList")

@section scripts{
    <script>
        $("#sent-nav-item").addClass("active");
        $("#messages-management-nav-item").addClass("active");
    </script>
}