<div class="box1">
    <h4>MESSAGES</h4>
</div>
<div class="box2">
    <div class="img-wrapper img-wrapper-envelope"></div>
</div>

<div id="messages-container">
    <div id="inbox-messages-container">

    </div>

    <div id="outbox-messages-container">

    </div>    
</div>
