@{
    Layout = "~/Views/Shared/_Layout.ManagementDashboard.cshtml";
}

<p>
    <a href="@Url.Action("CreateDoctor")" class="btn btn-default">
        <span class="glyphicon glyphicon-plus-sign"></span> New Doctor
    </a>
</p>

@Html.EditorFor(model => model, "DoctorList")

@section scripts {
    <script type="text/javascript">
        $("#doctor-nav-item").addClass("active");
    </script>
}