@model IEnumerable<MyVanity.Model.MessageModels.MessageReportViewModel>

@if (!Model.Any())
{
    return;
}

<h4>Not answered emails after 2 days sent</h4>
<hr/>

@foreach (var item in Model.OrderByDescending(x => x.Date))
{
    <div>
        <h4>@item.Date.ToShortDateString() - @item.From wrote: </h4>
        <div class="well">
            <p>
                @item.Body 
            </p>
        </div>
    </div>    
    <br/>        
}