body {
    padding-top: 60px;
}

form {
    margin: 0;
}

.requiredStar {
  margin-left: -0.8em;
  color: #ff0000;
  vertical-align: top;
  display: block;
  width: 0.8em;
  float: left;
}

.form-horizontal .control-label {
    text-align: left;
}

.form-header {
    margin-top: 25px;
    margin-bottom: 8px;
    color: gray;
    font-size: 1.1em;
}

textarea, input[type=text],input[type=email],input[type=phone],input[type=password], select {
    width: 20%;
    max-width: 20%;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

.nav-sidebar > .active > a:hover {
  background-color: #1288ee;
}
/* Main content */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.currency:after {
    content: " (USD)";
}

.alert-container {
    position: fixed; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    z-index: 9999;
}

.alert-container .alert {
    overflow: auto;
    max-height: 100px;
    width: 50%;
    position: fixed;
    left: 25%;
    top: 38%;
    z-index: 9999;
}

ul.doctorsTable {
    width: 20%;
    border: 1px solid #D5D5D5;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 6em;
    overflow-y: scroll;
    padding-left: 0;
}

ul.doctorsTable > li.success {
    background-color: rgb(222, 239, 215);
}

ul.doctorsTable > li.warning {
    background-color: rgb(251, 247, 226);
}

ul.doctorsTable li {
  margin-bottom: 0.3em;
  overflow: hidden;
  padding: 0.3em;
}

ul.doctorsTable li.success:hover {
  background-color: rgb(201, 238, 185);
}

ul.doctorsTable li.warning:hover {
  background-color: rgb(249, 237, 171);
}

ul.doctorsTable .removeButton {
  float: right;
  color: #d9534f;
  font-size: 1.2em;
}

ul.doctorsTable .removeButton:hover {
  float: right;
  color: #d2322d;
}

/* mailbox */
textarea.mail-body {
    width: 100%;
    max-width: 100%;
}

.panel.panel-default .btn {
    margin-left: 8px;
}

.panel.panel-default .subject {
    margin-top: 8px;
}

.panel .panel-heading input[type="text"] {
    width: 70%;
    max-width: 70%;
}

/* Placeholder dashboard ideas */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* PAGING */
.paging {
  font-size: 0.9em;
}

.pagingDesc {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
}

.pagingButton:link, .pagingButton:visited, .pagingButton:hover, .pagingButton:active, .pagingButtonSelected, .pagingButtonSelected:link, .pagingButtonSelected:visited, .pagingButtonSelected:hover, .pagingButtonSelected:active {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: #999999;
  display: block;
  float: left;
  padding: 0.1em 0.6em;
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
  margin: 0 0.3em 0.3em 0;
  border: 1px solid #999;
}

.pagingButton:hover {
  background-color: #666666;
}

.pagingButtonSelected, .pagingButtonSelected:link, .pagingButtonSelected:visited, .pagingButtonSelected:hover, .pagingButtonSelected:active {
  background-color: #fff;
  color: #999;
}

.pagingButtonSelected:hover {
  background-color: #fff;
}

.pageSize {
  display: block;
  margin-top: 10px;
}

.pageSize span {
  margin: 7px 10px 0 0;
  display: block;
  float: left;
}

.resultsPerPage {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
  width: auto;
  text-align: right;
  margin-bottom: 20px;
}
.resultsPerPage span {
  display: inline-block;
  margin: 0.1em 0.5em 0 0;
}

